@import "main.css";

figure {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 1rem;
}

figcaption {
	caption-side: bottom;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

img,
svg {
	margin: 0;
	width: min(30rem, 20vw, 90%);
	height: auto;
	border: 0.1rem black solid;
}

