header {
	margin: 0;
	padding: 0;

	* {
		font-style: none;
		text-decoration: none;
		color: black;
	}

	.breadcrumb {
		margin-bottom: 0.2rem;
	}

	h1 {
		margin: 0;
		border-bottom: 0.1rem black solid;
	}

	.description {
		border-top: 0;
		margin-top: 0;
		margin-bottom: auto;
		text-align: right;
	}

	padding-bottom: 2vh;
}

.lastupdate {
	margin: 1vh;
	text-align: right;
	font-size: small;
	font-style: italic;
}

.lastupdate::before {
	font-style: normal;
	content: "lastupdate:";
}

figure {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 1rem;
}

figcaption {
	caption-side: bottom;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

img,
svg {
	margin: 0;
	width: min(30rem, 20vw, 90%);
	height: auto;
	border: 0.1rem black solid;
}

h2,
h3,
h4,
h5,
h6 {
	clear: both;
	list-style: none;
	font-size: 100%;
	margin: 0.5rem;
	margin-left: 0;
}

h2 {
	font-size: 120%;
}

h2::before {
	content: "■";
}

h3::before {
	content: "□";
}

p {
	margin: 0;
	padding: 0;
}

/*
main a {
	text-decoration: none;
	border-bottom: 0.1rem solid;
}
*/

b {
	font-size: 110%;
}

li,
dd,
td,
table {
	>p {
		display: inline;
	}

	img {
		width: auto;
		border: none;
		vertical-align: middle;
	}
}

.custom_emoji {
	img {
		border: none;
		width: min(5rem, 50%);
	}
}

ol,
ul {
	margin: 0.5rem;
	overflow: overlay;
}

li {
	list-style-type: square;
	white-space: nowrap;


	>ul,
	>ol {
		margin-left: 0;
		padding-left: 0.5rem;
	}
}

dl {
	padding: 0;

	margin-left: 1rem;

	dl {
		margin: 0;
	}
}

dt {
	margin-left: 0;
	font-weight: bold;
}

dd {
	margin-left: 1rem;

	>p {
		display: inline;
	}
}

table,
th,
td {
	padding: 0;
	border: 0.1rem black solid;
	border-collapse: collapse;
	font-size: small;
}

code {
	font-size: 110%;
	background-color: lightgray;
}

main {
	padding-bottom: 2vh;
}

address {
	padding-bottom: 1vh;
}

main,
footer,
hr {
	margin-top: 0.5vh;
	border: none;
	border-bottom: 0.1rem black solid;
}

body {
	margin: 5vw;
	margin-top: 0;
	width: min(90vw, 80rem);
}

.avatar {
	width: 5rem;
	height: auto;
}
