* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

css{
	touch-action: none;
}
body {
	box-sizing: border-box;
	background: #FFF;
	font-family: sans-serif;
	tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
}


/*---------- チャットボットここから  ----------*/
/* 今回は、li（幅100%）の中に、div（吹き出し）を
挿入する。吹き出しの三角形は疑似要素を使用する。 */
/*チャットボット本体*/
#chatbot {
	height: 100dvh;
	width: 100dvw;
	position: fixed;
	overflow: hidden;
	opacity: 1;
	background: #FFF;
}

#chatbot-header {
	height: 60px;
	background: #335C80;
	position: relative;
	display: flex;
	justify-content:space-between;
}
#chatbot-logo {
	color: #FFF;
	line-height: 60px;
	padding: 0 30px;
	font-size: large;
}

/*チャットのフィールド*/
#chatbot-body {
	width: 100dvw;
	height: calc(100dvh - 110px);
	padding-top: 10px;
	background: #FFF;
	box-sizing: border-box;
	/*横向きのスクロール禁止*/
	overflow-x: hidden;
	/*縦向きのスクロール許可*/
	overflow-y: scroll;
}

#chatbot-footer {
	width: 100dvw;
	height: 50px;
	display: flex;
	box-sizing: border-box;
	background: #FFF;
	border-top: 1.5px solid #EEE;
}
/*入力する場所*/
#chatbot-text {
	height: 40px;
	width: 72dvw;
	display: block;
	font-size: normal;
	box-sizing: border-box;
	padding-left: 10px;
	margin: auto 10px auto 15px;
	color: #777;
	border: 0;
	outline: 0;
}
#chatbot-text:focus{
	border: none;
	outline: none;
}
/*送信ボタン*/
.action-button{
	cursor: pointer;
	height: 35px;
	padding: 0 20px;
	margin: auto;
	margin-right: 15px;
	font-size: large;
	background: #335C80;
	color: white;
	display: block;
	/*デフォルトのボーダーを消す*/
	border: none;
	box-sizing: border-box;
	border-radius: 7px;
}
.action-button:active{
	outline: 0;
	background: #86ABBF;
}

#chatbot-ul{
	/*ulのデフォルの隙間を消す*/
	padding: 0;
	list-style: none;
}
#chatbot-ul > li{
	position: relative;
	/* display: block; */
	width: 100%;
	padding-bottom: 10px;
	word-wrap: break-word;
}
#chatbot-ul > li > div.chatbot-left,
#chatbot-ul > li > div.chatbot-right{
	display: inline-block;
	box-sizing: border-box;
	min-height: 23px;
	max-width: 70%;
	padding: 7px 13px;
	font-size: normal;
	line-height: 1.3em;
	position: relative;
}

#chatbot-ul > li > div.chatbot-short {
	width: 53%;
}
.chatbot-time{
	display: block;
	font-size:small;
	color: lightgray;
}
/*相手の吹き出しのデザイン*/
.chatbot-left{
	margin-left: 20px;
	background: #E6F0F7;
	border-radius: 0 9px 9px 9px;
	color: #1A5F80;
}
.chatbot-left-rounded {
	margin-left: 20px;
	background: #E6F0F7;
	border-radius: 9px;
	color: #1A5F80;
}
/*自分の吹き出し*/
.chatbot-right{
	margin-right: 20px;
	background: #456F99;
	text-align: left;
	border-radius: 9px 0 9px 9px;
	color: #FFF;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
