* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: white;
	font-family: sans-serif;
	overflow-x: hidden;
}
#chatbot {
	display: block;
	margin: 0 auto;
	height: 100dvh;
	width: min(50rem,100%);
	overflow: hidden;
	opacity: 1;
	background: white;
}
#chatbot-header {
	height: 60px;
	background: Steelblue;
	position: relative;
	display: flex;
	justify-content: space-between;
}
#chatbot-logo {
	color: White;
	line-height: 60px;
	padding: 0 30px;
	font-size: large;
}
#chatbot-body {
	height: calc(100dvh - 110px);
	background: White;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 1em;
	list-style: none;
}
#chatbot-footer {
	height: 50px;
	display: flex;
	background: White;
	border-top: 1.5px solid #eee;
}
#chatbot-text {
	height: 40px;
	display: block;
	font-size: normal;
	padding-left: 10px;
	width: calc(100% - 6rem);
	color: black;
	border: 0;
	outline: 0;
}
#chatbot-text:focus {
	border: none;
	outline: 0;
}
.action-button {
	cursor: pointer;
	height: 100%;
	width: 6rem;
	padding: 0 5px;
	margin: 0;
	font-size: large;
	background: Steelblue;
	color: White;
	display: block;
	border: none;
	border-radius: 7px;
}
.action-button:hover {
	outline: 0;
	background: Cornflowerblue;
}
.action-button:active {
	outline: 0;
	background: Lightsteelblue;
	color: Slategray;
}
#chatbot-body > li {
	position: relative;
	width: 100%;
	padding: 10px auto;
	word-wrap: break-word;
}
#chatbot-body > li > .chatbot-left,
#chatbot-body > li > .chatbot-right {
	display: inline-block;
	min-height: 23px;
	max-width: 70%;
	padding: 7px 15px;
	font-size: 1rem;
	line-height: 1.3em;
	position: relative;
}
#chatbot-body > li > .chatbot-short {
	width: 53%;
}
.chatbot-time {
	margin: 0 10px;
	display: block;
	font-size: small;
	color: Darkgray;
}
.chatbot-left {
	margin-left: 10px;
	background: Aliceblue;
	border-radius: 0 9px 9px 9px;
	color: Steelblue;
}
.chatbot-right {
	margin-right: 10px;
	background: Steelblue;
	text-align: left;
	border-radius: 9px 0 9px 9px;
	color: White;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
