* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: sans-serif;
	overflow-x: hidden;
	background: Aliceblue;
}

#chatbot {
	margin: 0 auto;
	height: 100dvh;
	width: min(50rem, 100%);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#chatbot-header {
	height: 60px;
	background: Steelblue;
	position: relative;
	display: flex;
	justify-content: space-between;
}

#chatbot-body {
	background: White;
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 1;
	padding-top: 1em;
	list-style: none;
}

#chatbot-footer {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	background: White;
}

#chatbot-text {
	flex: 1;
	padding: 0.5rem;
	color: black;
	border: 0.1rem solid Lightsteelblue;
	border-radius: 0.5rem;
	resize: none;
}

#chatbot-text:focus {
	border: 0.2rem solid Steelblue;
	outline: 0;
}

.action-button {
	cursor: pointer;
	width: 6rem;
	padding: 0 0.5rem;
	margin: 0;
	font-size: large;
	background: Steelblue;
	color: White;
	border: none;
	border-radius: 0.5rem;
	outline: 0;
}

.action-button:hover {
	background: Cornflowerblue;
}

.action-button:active {
	background: Lightsteelblue;
	color: Slategray;
}

#chatbot-body>li {
	position: relative;
	width: 100%;
	padding-bottom: 1rem;
	word-wrap: break-word;
}

.chatbot-left,
.chatbot-right {
	display: inline-block;
	text-wrap: wrap;
	min-height: 2rem;
	max-width: 70%;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.3em;
	position: relative;
}

.chatbot-time {
	margin: 0 1rem;
	display: block;
	font-size: small;
	color: Darkgray;
}

.chatbot-left {
	margin-left: 1rem;
	background: Aliceblue;
	border-radius: 0 1rem 1rem 1rem;
	color: Steelblue;
}

.chatbot-right {
	text-align: left;
	margin-right: 1rem;
	background: Steelblue;
	border-radius: 1rem 0 1rem 1rem;
	color: White;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

#popup * {
	margin: auto;
	padding: auto;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#popup-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	font-size: large;
	line-height: 1.3em;
	width: 60%;
	padding: 2rem;
	color: Steelblue;
	background: Aliceblue;
	border-radius: 0.5em;
}
